# --- Backend / Visual Studio ---
.vs/
*.user
*.userosscache
*.sln.docstates
bin/
obj/

# --- Base de Datos (SQL Server) ---
*.mdf
*.ldf
*.tmp

# --- Frontend (React / Vite / Node) ---
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*.local

# --- Archivos de Sistema / Basura ---
.DS_Store
Thumbs.db
desktop.ini